<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Compton Building and Remodeling</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    
    <!-- Adding custom styling -->
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static',filename='styles/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='styles/grid.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Compton Building and Remodling</h1>
        <p class="lead" id="title">
        </p>
      </div>
      <div class="row" id="content"> </div>
      <script type="text/javascript">
        remodelType = "{{ remodelType | safe }}";
        document.getElementById('title').innerHTML = "{{ remodelType|safe }}";
        
        
      var i = 0;
      var remodelNames = {{ remodelNames|safe }};
      var imageNames = {{ imageNames|safe }};
       
       var i = 0;
       var l = remodelNames.length;
       var row_div = document.getElementById('content');
       
       for(; i < l;) {
         var col_div = document.createElement('div');
         col_div.className = 'col-xs-12 col-sm-5';
         row_div.appendChild(col_div);
         
         var selection_div = document.createElement('div');
         selection_div.className = 'selection-box';
         col_div.appendChild(selection_div);
         
         var image_div = document.createElement('div');
         image_div.className = 'image';
         selection_div.appendChild(image_div);
         
         var image = document.createElement('img');
         image.className = 'actualImage';
         /*image.src = "http://www.google.com/intl/en_com/images/logo_plain.png";*/
         /* THIS NEEDS TO CHANGE */
         image.src = "/static/images/" + imageNames[i];
         image_div.appendChild(image);
         
         var selection_label = document.createElement('div');
         selection_label.className = 'selection-label';
         selection_div.appendChild(selection_label);
         
         var a = document.createElement('a');
         a.innerHTML = `<h3> ${remodelNames[i]} </h3>`;
         a.href = remodelType + "/" + remodelNames[i];
         selection_label.appendChild(a);
         
         i++;
       }
     </script>


    </div>
    <!--<p id="hello" > </p>-->

   </body>